.container {
  margin-bottom: 100px;
}
.orange-bg {
  background-color: #fceae8;
  border-radius: 10px;
}
.navbar-nav {
  
}
.carousel-item {
  padding: 20px 40px;
}
.price {
  color: #ff136f;
}
.buy-now-button {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
.order-button {
  width: 100%;
}
.cat1,
.cat2,
.cat3 {
  padding: 10px 30px;
  border-radius: 10px;
}
.cat1 {
  background-color: #fe4802;
}
.cat2 {
  background-color: #e12860;
}
.cat3 {
  background-color: #f74f4f;
}
.food-explore {
  background-color: #fca61b;
}
.categories h1 {
  color: white;
}
.categories img {
  width: 100px;
}
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
}
.card-footer {
  background-color: white;
  border-top: none;
}
food-menu-title {
  height: 50px;
  background-color: #e12860;
  width: auto;
}

#subscribe {
  height: 300px;
}
#subscribe h6 {
  color: gray;
}
footer {
  text-align: center;
}
